:host {
    --cell-size: 3rem
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    .value {
        font-size: 1.5rem;
    }

    .notes-container {
        font-size: .75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        line-height: 1.1;

        * {
            padding: 0 4px;
        }
    }
}

.selected {
    background-color: rgb(0 169 255 / 14%);
}
